body{
	background-color: blue;
}

p{
	background-color: red;
	text-align: center;
}
a{
	background-color: red;
}

.vegetarian{color: green;}
#tasty{color: yellow;}
.content{
	position: absolute;
	top: 0px;
	left: 200px;
}
.sidebar{background-color: white;
		position: absolute;
		top: 0px;
		width: 200px;
		height: 100%;
}
.container{
	position: relative;
	height: 1000px;
}
.title{
	height: 60px;
	width: 100%;
}